stages:
  - build

desktop-linux-x64-release:
  stage: build
  image: xrvis-ci:1.90
  script:
    - mold -run cargo build --package xrvis-desktop --bin xrvis-desktop --release
  artifacts:
    paths:
      - target/release/xrvis-desktop

desktop-windows-x64-release:
  stage: build
  image: xrvis-ci:1.90
  script:
    - mold -run cargo build --package xrvis-desktop --bin xrvis-desktop --release --target x86_64-pc-windows-gnu
  artifacts:
    paths:
      - target/x86_64-pc-windows-gnu/release/xrvis-desktop.exe
