[package]
name = "xrvis"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.15"
bevy_panorbit_camera = "0.25.0"
bevy-inspector-egui = "0.30.0"

procedural_modelling = { version = "0.3.0", default-features = false, features = ["bevy"] }

async-io = "2.4.0"
async-net = "2.0.0"
async-channel = "2.3.1"
prost = "0.13.5"
socket2 = "0.5.9"
network-interface = "2.0.1"

[target.'cfg(unix)'.dependencies]
libc = "0.2.171"

[target.'cfg(windows)'.dependencies]
windows-sys = { version = "0.59.0", features = ["Win32_NetworkManagement_Ndis", "Win32_Networking_WinSock"] }

[build-dependencies]
prost-build = "0.13.5"

# Enable optimizations for dependencies, even in dev mode

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3
